<Input @value={{this.query}} placeholder="Search" />

<table>
  <thead>
    <tr>
      <th width="20px">
        <span
          {{on "click" this.whitelistAllEmployees}}
          class="whitelist acl-icon"
          style="position: relative;"
        >
          <MaterialDesignIcon @name="check" />
        </span>
      </th>
      <th width="300px" style="text-align: left;">
        Name
      </th>
      <th style="text-align: left;">
        Description
      </th>
    </tr>
  </thead>

  <tbody>
    {{#each this.filteredDemoList as |employee|}}
      <tr>
        <td>
          <span
            {{on "click" (fn this.whitelistItem this.model)}}
            class="whitelist acl-icon {{if employee.checked "isSelected"}}"
          >
            <MaterialDesignIcon @name="check" />
          </span>
        </td>
        <td class="icon-table-cell">
          <img
            src="{{employee.image}}"
            class="small-user-icon icon-in-table-cell"
            alt="Icon"
          />
          <span class="icon-label-in-table-cell">{{text-highlight
              employee.name
              query=this.query
            }}</span>
        </td>
        <td>
          {{text-highlight employee.description query=this.query}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>